source https://api.nuget.org/v3/index.json

storage: none
framework: netcore3.1, netstandard2.0, netstandard2.1

github nojaf/fable-jest:fable2 fable/Bindings.fs  
github nojaf/fable-jest:fable2 fable/Exports.fs  
github nojaf/fable-jest:fable2 fable/Matchers.fs  
nuget FSharp.Core
nuget Fable.Core ~> 2.0.3
nuget Fable.Import.VSCode  
nuget Fable.Parsimmon
nuget Fable.Import.Browser